.container{
    display: flex;
}
.skeleton{
    background-color: whitesmoke;
    border-radius: 25px;
    height: 340px;
    width: 249px;
    margin: 8px;
    position: relative;
    box-shadow: 10px 10px 5px grey;

}
.bar{
    background-color: blue;
    width: 245px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 15px;
    margin-left:5px ;
    position: absolute;
    bottom: 0;
    display: flex;
}
.favbtn{
    float: right;
    height: 30px;
    position: absolute;
    right: 0;
    margin: 15px 10px 0px 0px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border-style: solid;
    background-color: transparent;
}
.row1{
  display: flex;
  margin: auto;
}
.sub{
    position: absolute;
    bottom: 0;
    margin: 10px 0px 5px 15px;
}
.title1{
    margin-left: 15px;
    margin-top: 10px;
}
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    display: flex;
    flex-grow: 1;
  
  }

  .headeritem {
      flex-grow: 1;
      font-family: 'Righteous', cursive;
      color: white;
  }
  .headertitle {
    font-family:'Righteous', cursive;
    color: white;
    font-size: 50px;
  }

  #title {
      flex-grow: 4;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .footer {
    background: white;
    padding: 10px;
    margin-bottom: -40px;
  }
  
  .main {
    text-align: left;
    background: #792A7D;
  }
  
  .aside-2 {
    background:white;
  }

  .main {
      height: 580px;
      background-color: white;
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  body {
    padding: 2em; 
    margin: -35px;
  }

#searchbar {
    height: 35px;
    width: 180px;
    margin-left: 20px;
    margin-top: 20px;
}

#searchbutton {
    height: 35px;
    width: 10px;
    margin-top: 20px;
    color: black;
}
 body {
   background-image: url(concert\ image.PNG);

 }

 img {
   width: 960px;
   margin-left: -15px;
   margin-top: -5px;
   padding-left: 10px;
   height: 600px;
 }

 caption {
   margin-left: 60px;
 }
 
 #map {
  width: 500px;
  height: 400px;
}

#location {
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: black;
}

#events {
  background-color: white;
  color: black;
  text-align: center;
}

#map1 {
  margin-left: 300px;
  margin-top: -400px;
  border: 15px solid black;
  margin-bottom: 20px;
  width: 300px;
}

.maptitle {
  font-family: 'Righteous', cursive;
  background-color: black;
  color: white;
  font-size: 30px;
  margin-top: 20px;
}
 .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-85%, -50%);
  font-size: 50px;
  font-family: 'Righteous', cursive;
  margin-left: 60px;
  color: white;
}
.bottom-right {
  position: absolute;
  bottom: -55px;
  right: 380px;
  font-size: 30px;
  font-family: 'Righteous', cursive;
  color: white;
}

.container {
  border-radius: 5px;
  background-color: black;
  padding: 20px;
}
input[type=submit]:hover {
  background-color: black;
}
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(46, 44, 44);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#fav {
  margin-bottom: -5px;
}
#headerfirst {
  margin-bottom: 20px;

}

.mapdesc {
  font-family: 'Righteous', cursive;
  background-color: black;
  color: white;
  font-size: 20px;
  margin-top: -30px;
}